#body {
  background-color: aqua;
  padding: 0px;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}
#map { 
  height: 700px; 
  width: 900px;
  position: relative;
 
}
#hoja {
  position: relative;
  margin-bottom: 50px;
}
#hoja {
position: relative;
} 

#popup {
  color: red; 
  font-weight: bold;
  background-color: #000;
  border:0px;
  box-shadow: false;
  font-size:20px;
}