#body {
  overflow: hidden;
  background-color: aqua;
  padding: 0px;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}
#map { 
  float: right;
  height: 800px; 
  width: 580px;
  padding: 0px;
  margin-right: 0%;
  /* position: relative;
  left: 75%; */
}
#hoja {
  float: left;
}
#popup {
  color: red; 
  font-weight: bold;
  background-color: #000;
  border:0px;
  box-shadow: false;
  font-size:20px;
}